[ req ]
default_bits = {{ca_key_size}}
default_keyfile = {{ca_priv_filename}}

encrypt_key = no

default_md = sha256

prompt = no

utf8 = yes

distinguished_name = my_req_distinguished_name

x509_extensions = v3_extensions

[ my_req_distinguished_name ]
C = {{dn_country}}
ST = {{dn_state}}
L = {{dn_locality}}
{% if dn_org %}O  = {{dn_org}}{% endif %}
{% if dn_org_unit %}OU = {{dn_org_unit}}{% endif %}
CN = {{dn_cn}}

[ v3_extensions ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true
keyUsage = critical, digitalSignature, cRLSign, keyCertSign
#subjectAltName=@my_subject_alt_names

#[ my_subject_alt_names ]
#DNS.1 = *.oats.org
#DNS.2 = *.oats.net
