[ ca ]
default_ca = {{ ca_name }}

[ {{ ca_name  }} ]
serial = ./serial
database = ./index
new_certs_dir = ./newcerts
certificate = {{ ca_cert_file }}
private_key = {{ ca_privkey_name }}
default_md = sha256
default_days = 365
